[Unit]
Description=uWSGI instance to serve True_or_false project
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/trueorfalse.tk/true_or_false
Environment="PATH=/var/www/trueorfalse.tk/.venv/bin"
ExecStart=/var/www/trueorfalse.tk/.venv/bin/uwsgi --ini /var/www/trueorfalse.tk/.venv/etc/uwsgi.ini
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target