server {

listen 8080;

# access_log /var/www/appname/logs/access.log;
# error_log /var/www/appname/logs/error.log;


#location / {
#   client_max_body_size 100M;
#   include uwsgi_params;
#uwsgi_pass unix:/var/www/appname/.venv/var/run/uwsgi.sock;
#}

#location /req/ {
 #   default_type = 
  #  root /home/dejan/Documents/programiranje/True_or_false/requirements.txt;
#}

location /hello-world{
    default_type "text/html";
    alias /home/dejan/Documents/programiranje/True_or_false/story/templates/story/stories.html;
}


server_name 127.0.0.1 localhost www.trueorfalse.tk api.trueorfalse.tk;

#root /var/www/example.com;

#index index.html;

#try_files $uri /index.html;

}