{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div id="container" style="background-color: black;">
    <form action="/add_story/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_text">Prica:</label>
            <textarea name="text" class="form-control" id="id_text" rows="4" maxlength="2000" required=""></textarea>
          </div>
          <div class="form-check">
        <input type='hidden' value='False' name='ans'>
        <input type="checkbox" class="form-check-input" name="ans" id="id_ans">
            <label class="form-check-label" for="id_ans">Istina ili laz:</label>
          </div>
          <div class="col-auto my-2">
            <button type="submit" class="btn btn-secondary" style="margin-left: 94%;">Save</button>
          </div>
</form>
</div>
{% endblock %}